.homepage-container {
  position: relative;
  padding: 10px;
  height: 100%;
  .shopping-cart-toggle {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .filter-group {
    margin-top: 10px;
    .filter-input {
      margin-bottom: 20px;
    }
    .sort-input {
      margin-bottom: 20px;
    }
  }
  .list {
    margin-top: 20px;
  }
}