@import "/src/z-indexes";
.header-container {
  position: sticky;
  top: 0;
  z-index: $header-z-index;

  nav {
    display: flex;
    a {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 40px;
      text-decoration: none;
      background-color: #0D0F14;
      color: white;

      &.active {
        background-color: #30343D;
      }
    }
  }
}