.error-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;

  .title {
    font-size: 14px;
    font-weight: bold;
  }
  .error-message {

  }
}